@charset "utf-8";
/* CSS Document */

header .container { padding-top: 50px; padding-bottom: 50px }
header .img-box img { width: 100% }
header h1 { font-size: 40px; font-weight: 200 }
header p { margin: 40px 0; line-height: 30px; }
.forget-box .title-box { text-align: center }
.forget-box .title-box p { margin-left: auto; margin-right: auto; max-width: 750px; font-size: 16px; }
.forget-box .img-box { text-align: center }
.forget-box .img-box img { width: 100%; max-width: 610px }
.list-box { padding: 0 0 30px; margin-bottom: 0 }
.list-box .video-list { margin-right: -30px; margin-left: -30px }
.list-box h3.list-title { margin-top: 0; margin-bottom: 40px; text-align: center }
.list-box .item-box { position: relative; margin-bottom: 30px; border: 1px solid #e3e3e3 }
.forget-box .list-box { position: absolute }
.forget-box .list-box ul { counter-reset: a }
.forget-box .list-box ul li { position: absolute; margin-bottom: 10px; padding: 20px; max-width: 260px; background-color: #efefef; border-radius: 4px }
.forget-box .list-box ul li:before { content: counter(a); counter-increment: a; display: inline-block; position: absolute; margin-top: -15px; top: 50%; text-align: center; width: 30px; line-height: 30px; background-color: #8d66bd; color: #fff; border-radius: 50% }
.forget-box .list-box ul li:after { content: ""; position: absolute; margin-top: -10px; top: 50%; border: 10px solid transparent }
.forget-box .list-box ul li.left-arrow { padding-left: 60px }
.forget-box .list-box ul li.left-arrow:before { left: 15px }
.forget-box .list-box ul li.left-arrow:after { left: -20px; border-right: 10px solid #efefef }
.forget-box .list-box ul li.right-arrow { padding-right: 60px; text-align: right }
.forget-box .list-box ul li.right-arrow:before { left: auto; right: 15px }
.forget-box .list-box ul li.right-arrow:after { right: -20px; border-left: 10px solid #efefef }
.forget-box .list-box ul li h4 { margin-top: 0; margin-bottom: 10px; font-size: 16px }
.forget-box .list-box ul li summary { font-size: 12px }
.forget-box .list-box ul li.item-1 { top: 20px; left: 240px }
 @media (max-width:1199px) {
.forget-box .list-box ul li.item-1 { left: 140px }
.forget-box .list-box ul li.item-2 { left: 0 }
.forget-box .list-box ul li.item-3 { right: 0 }
.forget-box .list-box ul li.item-4 { right: 150px }
}
.forget-box .list-box ul li.item-2 { top: 180px; left: 70px }
.forget-box .list-box ul li.item-3 { top: 230px; right: 50px }
.forget-box .list-box ul li.item-4 { top: 410px; right: 240px }
 @media (max-width:991px) {
.forget-box .list-box ul li { position: relative; padding: 10px 10px 10px 60px!important; top: auto!important; left: auto!important; right: auto!important; background-color: transparent; max-width: none }
.forget-box .list-box ul li:after { display: none }
.forget-box .list-box { position: relative }
.forget-box .list-box ul { padding-top: 10px }
.forget-box .list-box ul li:before { top: 20px }
.forget-box .list-box ul li.right-arrow:before { right: auto; left: 15px }
.forget-box .list-box ul li.right-arrow { text-align: inherit }
}
.login-box .title-box { text-align: center }
.login-box .title-box p { margin-left: auto; margin-right: auto; max-width: 750px }
.login-box .content-box { padding-top: 50px; }
.login-box .img-box { text-align: center }
.login-box .img-box img { width: 100%; max-width: 840px }
.share-box .title-box { text-align: center }
.share-box .title-box p { margin-left: auto; margin-right: auto; max-width: 750px }
.share-box .content-box { padding-top: 40px; }
.share-box .item-box { position: relative; margin-bottom: 15px; text-align: center; overflow: hidden }
.share-box .item-box img { width: 100% }
.share-box .item-box .mask-box { position: absolute; top: 100%; height: 100%; width: 100%; background-color: rgba(0, 0, 0, .5); }
.share-box .item-box .mask-box .text-box { position: absolute; top: 50%; width: 100%; padding: 0 40px; -webkit-transform: translateY(-50%); transform: translateY(-50%) }
.share-box .item-box .mask-box h3 { margin-top: 0; font-size: 34px; color: #fff }
.share-box .item-box .mask-box p { color: #fff; font-size: 18px; line-height: 25px; }
@media only screen and (max-width:768px ) {
.share-box .item-box .mask-box { top: 0; }
}
@media only screen and (min-width:992px ) {
.share-box .item-box:hover .mask-box { top: 0 }
}
/*移动端*/
.gotp-box .title-box { text-align: center }
.gotp-box .title-box p { margin-left: auto; margin-right: auto; max-width: 750px }
.gotp-box .content-box { padding-top: 40px; }
.gotp-box .item-box { position: relative; margin-bottom: 15px; text-align: center }
.gotp-box .item-box img { width: 100%; max-width: 190px }
.gotp-box .item-box p { margin-top: 30px; margin-left: auto; margin-right: auto; max-width: 190px }
.password-box .title-box { text-align: center }
.password-box .item-box { position: relative; margin-bottom: 15px; text-align: center }
.password-box .item-box .icon-box { overflow: hidden; margin: 0 auto; border-radius: 50% }
.password-box .item-box .icon-box .icon-item { margin: 40px 0 20px; }
.boxicon { border-radius: 50%; }
.password-box .item-box .icon-box:hover { background-image: url(../images/xiaotu1-high.jpg); }
.password-box .item-box h5 { color: #8F8F8F; ; font-size: 16px; font-weight: 400; }
.password-box .item-box p { color: #b7b7b7; }
.customer-box .title-box { text-align: center }
.customer-box .content-box { padding-top: 40px; }
.customer-box .slick-box { position: relative; padding: 0 60px }
.customer-box .slick-box button { width: auto; height: auto }
 @media (max-width:767px) {
.customer-box .slick-box { padding: 0 15px }
}
.customer-box .slick-box button:before { font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 66px; color: #e8e8e8 }
.customer-box .slick-box button:hover:before { color: #8d66bd }
.customer-box .slick-box button.slick-prev { left: -10px; opacity: 1; }
.customer-box .slick-box button.slick-prev:before { content: "\f104" }
.customer-box .slick-box button.slick-next { right: -10px; opacity: 1; }
.customer-box .slick-box button.slick-next:before { content: "\f105" }
.customer-box .item-box { position: relative; margin: 0 auto; padding: 45px 45px 45px 250px; min-height: 250px; max-width: 720px; background-color: #e8e8e8; border: 4px solid #fff; border-radius: 6px }
.customer-box .item-box .face-box { overflow: hidden; position: absolute; margin-top: -69px; top: 50%; left: 60px; width: 138px; height: 138px; border: 4px solid hsla(0, 0%, 5%, .08); border-radius: 50% }
.customer-box .item-box .face-box img { width: 100% }
.customer-box .item-box .text-box .head-box:after { content: ''; display: table; clear: both }
.customer-box .item-box .text-box .head-box .left-box { float: left }
.customer-box .item-box .text-box .head-box .left-box h3 { margin: 0 0 10px }
.customer-box .item-box .text-box .head-box .left-box summary { font-size: 12px }
.customer-box .item-box .text-box .head-box .right-box { float: right }
.customer-box .item-box .text-box .head-box .right-box time { font-size: 12px; line-height: 50px }
@media (max-width:768px) {
.customer-box .item-box .text-box .head-box .right-box time { display: none }
}
.customer-box .item-box .text-box .body-box { margin-top: 20px }
.contact-box { padding: 60px 0; min-height: 180px; background-image: url(../images/contact.jpg); background-size: cover }
.contact-box .text-box { color: #fff }
 @media (max-width:767px) {
.contact-box .text-box { text-align: center }
}
.contact-box .text-box h3 { margin-top: 0 }
.contact-box .btn-box { text-align: center }
.contact-box .btn-box .btn { margin-top: 10px; margin-bottom: 10px }
section h1 { margin-top: 70px; margin-bottom: 40px }
.top-line { position: relative; }
.pageNav { overflow: hidden; text-align: center; padding-top: 35px; }
.pageNav > .nav { width: 100%; }
.pageNav > .nav li { width: 14%; margin: 0 1%; border: 1px solid #E9E9E9; border-radius: 5px; }
.pageNav > .nav li a { padding: 10px 0; color: #684099; transition: all .3s linear; }
.pageNav_left { position: fixed; right: 20px; top: 50%; margin-top: -50px; }
.pageNav_left a { width: 10px; height: 10px; background: #D8D8D8; display: block; border-radius: 100%; margin-top: 14px; }
.pageNav_left a.active { background: #684099; }
.pageNav_left .left_box { top: 340px; right: 40px; position: fixed; width: 111px; height: 38px; background: url(../images/left_box.png) no-repeat; }
.pageNav_left .left_box span { text-align: center; line-height: 38px; font-size: 16px; display: block; }
.pageNav_left .left_box span:hover { background: #684099; color: #FFFFFF; }
.ssf { width: 100%; height: 160px; position: absolute; background: rgba(0,0,0,0.4); }
.sub-item p { font-size: 12px; line-height: 20px; }
.sub-item ul li a { font-size: 12px; }
.link-box a { color: #684099; }
.sub-item a { color: #684099; }
.main { margin-top: -18px; }
.sub-item p { font-size: 12px; line-height: 20px; }
.sub-item ul li a { font-size: 14px; color: #A7A7A7; }
.sub-item h4 { font-size: 18px; font-weight: 400; }
.sub-item p { font-size: 14px; font-weight: 200; }
.sub-item h5 { font-size: 14px; }
#solutions-nav .sub-item h4 { font-size: 16px; }
.title-box h1 { text-align: center; font-size: 40px; color: #684099; font-weight: 200; }
.ball { height: 62px; border-bottom: 1px solid #684099; margin-top: 62px; }
.ball .ball-box li { float: left; text-align: center; padding: 0; }
.ball .ball-box li a { font-size: 14px; line-height: 62px; float: left; color: #BBBBBB; text-decoration: none; }
.ball .ball-box li a:hover { color: #684099; }
.recommendCard-box .item-box { padding: 0 30px; position: relative; overflow: hidden; }
.recommendCard-box .item-box .context { background: #FBFBFB; height: 150px; border: 1px solid #ECECEC; border-radius: 9px; margin-top: 20px; box-shadow： 0px px 0px #000；
}
.recommendCard-box .item-box .context.bottomImg img { width: 60%; margin: 0 auto; margin-top: 0; display: block; position: absolute; bottom: 0; left: 20%; cursor: pointer; }
.context { cursor: pointer; }
.recommendCard-box .item-box .context.leftImg img { margin-top: 28px; }
.recommendCard-box .item-box .context.leftImg .wen { float: left; margin-top: 20px; }
.recommendCard-box .item-box .context .wen { display: inline-block; vertical-align: middle; text-align: center; margin: 0 auto; }
.recommendCard-box .item-box .context .wen p { width: 156px; height: 42px; background: #8461B0; border-radius: 5px; font-size: 20px; color: #FFFFFF; line-height: 42px; padding-left: 10px; }
.recommendCard-box .item-box .context .wen p img { margin-left: 50px; margin-top: 5px; }
.recommendCard-box .item-box .context a { font-size: 12px; color: #427BEE; }
.recommendCard-box .item-box .context a img { margin: 0 !important; width: auto !important; position: initial !important; display: inline !important; float: none !important; }
.yingyong h4 { font-size: 20px; font-weight: 400; margin: 5px 0; }
.yingyong p { color: #9A9A9A; line-height: 20px; margin-bottom: 5px; }
.yingyong a { font-size: 12px; color: #457DEE; }
.wz { color: #959595; font-size: 18px; font-weight: 400; }
.wzi li { font-size: 14px; color: #757575; line-height: 25px; }
.zwei { font-size: 12px; color: #898989; font-weight: 400; line-height: 40px; }
.with-arrow10:after { font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-left: 5px; content: "\f107"; text-decoration: none; }
.with-arrow2:after { font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-left: 5px; content: "\f106"; text-decoration: none; }
.high { color: #684099; }
.ul { border: none; }
.sqbtn { display: inline-block; margin: 10px 0; padding: 0 20px; font-size: 12px; line-height: 30px; color: #fff; text-decoration: none; background: #684099; border: 1px solid #A57FD3; border-radius: 6px; box-sizing: border-box; width: 109px; height: 33px; font-size: 13px; text-align: center; transition: all .3s ease-out; }
.sqbtn a { color: #fff; transition: all .3s ease-out; }
.btn-default { display: inline-block; text-decoration: none; border: 1px solid #cccccc; border-radius: 6px; box-sizing: border-box; }
.color { color: red; }
.password-box { margin-bottom: 60px; }
.download_margin { margin-top: 40px; }
.contact_all_h3 { font-weight: 400; height: 62px; font-size: 18px; background-image: url(../images/bg-about.png); margin: 0; background-repeat: repeat; background-position: -4px -1px; line-height: 62px; box-shadow: 0 0 5px; }
.work_a { text-align: center; }
.work_a a { font-size: 14px; line-height: 62px; color: #BBBBBB; text-decoration: none; }
.slick-prev:before, .slick-next:before { font-size: 66px; }
.app_p { padding: 0 20px; }
.iam_tongyi { padding: 0 30px; }
/*响应式页面*/
/*iPhone5*/
  @media only screen and (max-width:321px) {
.with-arrow10:after { display: none; }
.iphone_5s { display: none; }
}
/*移动端下*/
 @media only screen and (max-width:768px) {
header h1 { font-size: 26px; }
.con_margin { margin-left: 15px; margin-right: 15px; }
.about_margin { margin-top: 20px; padding: 0 20px; }
.wzi { margin: 20px 0; }
.with-arrow10:after { margin-left: 0px; }
.work_a { padding: 0; }
.contact_all_h3 { padding-left: 30px; }
.title-box h1 { font-size: 26px; margin-top: 30px; margin-bottom: 30px; }
header .container { padding-top: 50px; padding-bottom: 0px; }
.customer-box .item-box { padding: 0; }
.customer-box .item-box .face-box { position: inherit; margin: 20px auto 0; left: auto; }
.text-box { /*	padding: 20px;*/ }
.head-box { text-align: center; }
.customer-box .item-box .text-box .head-box .left-box { float: inherit; }
.customer-box .item-box .text-box .body-box { margin: 20px 20px 0; text-align: center; }
}
/*非移动端下*/
@media only screen and (min-width:768px) {
.about_margin { padding-left: 40px; padding-right: 40px; }
.contact_all_h3 { padding-left: 60px; }
.col-work-offset-1 { margin-left: 40px; }
.ball_four { margin-bottom: 50px; }
.contact_yc { margin: 50px 0; }
}
/*iPad下*/
@media only screen and (min-width: 768px) and (max-width:992px) {
header h1 { font-size: 26px; }
header p { margin: 20px 0; line-height: 25px; }
.wzi { margin-top: 0px; }
a.btn.btn-border { padding: 5px 10px; }
.xian_index { margin-top: 0px; }
.app_p { padding: 0 20px; }
.iam_h1 { margin-top: -10px; }
.iam_p { margin: 0px 50px 30px; }
.sdk_row_margin { margin-bottom: 30px; }
.ycapi_h2 { font-size: 26px; }
.download_margin { margin-top: 0px; }
}
 @media only screen and (min-width: 1170px) {
.wzi { margin-top: 13px; }
}
@media (max-width:991px) {
.recommendCard-box .item-box .context.leftImg .wen { margin-top: 30px; }
}
.return { width: 40px; height: 40px; position: fixed; right: 20px; bottom: 80px; }
 @media screen and (min-width:998px) and (max-width:1170px) {
.download_margin { margin-top: 0px; }
}
