@charset "utf-8";
/* CSS Document */

* { margin: 0; outline: 0 }
body, html { margin: 0; padding: 0; height: 100% }
body { color: #333; font-size: 14px; font-style: normal; font-family: PingFang SC, Helvetica, Luxi Sans, DejaVu Sans, Tahoma, Hiragino Sans GB, STHeiti, Microsoft YaHei, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased }
.root, body { position: relative; min-height: 100% }
.root { overflow: hidden }
a { color: #68b168; cursor: pointer }
a:hover { color: #68b168 }
a:focus { text-decoration: none }
a .light { color: #444 }
ul { list-style: none; padding: 0; margin: 0 }
p { font-size: 14px; line-height: 1.8rem }
p.no-indent { text-indent: 0 }
p.indent { text-indent: 2em }
.btn { padding: 6px 16px; font-size: 12px; border: 0; border-radius: 2px; box-shadow: 0 2px 2px rgba(0,0,0,.24); outline: 0 }
.btn.btn-primary { background-color: #68b168 }
.btn.btn-link { color: #68b168; box-shadow: none }
.btn.btn-dark { color: #fff; background-color: #433e51 }
.btn.btn-light { background-color: #fff }
.btn.btn-light:hover { color: #68b168; background-color: #e6e6e6 }
.btn.btn-light:focus { color: #68b168 }
label.invalid { background: #f4511e!important; }
input.invalid { border: solid 1px #f4511e!important; }
::-moz-selection {
color:#8BC34A
}
::selection { color: #8BC34A }
::-moz-selection {
color:#fff;
background-color:#8BC34A
}
::selection { color: #fff; background-color: #8BC34A }
.ng-cloak, [ng-cloak] {
display:none!important
}