.text-green {
  color: #090;
}
.text-blue {
  color: #09C;
}
.text-red {
  color: #F00;
}
.type-item,
.type-item:hover {
  text-decoration: none;
}
.type-item .title {
  color: #6f7376;
}
.type-item .title span {
  font-size: 26px;
  margin-left: 10px;
}

.tiles {
  padding: 20px 0 10px;
  text-align: center;
}
.client-home-panels {
  padding: 20px 20px 60px;
}
.panel-accent-emerald {
  display: none;
}
