body {
  font-size: 14px;
  font-family: "proxima-nova", Verdana, Tahoma, sans-serif;
  background-color: #ECEFF4;
}
.invoice-container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,.05);
  border-radius: 6px;
  margin-bottom: 20px;
  border: none;
  margin-top: 70px;
  padding: 0;
}
.invoice-container .header {
  background-color: #F4F5F9;
  padding: 45px;
  border-radius: 6px 6px 0 0;
}
.invoice-container .header .title h1 {
  color: #131313;
  margin-top: 0;
  font-weight: 300;
  font-family: Raleway, sans-serif;
}
.invoice-container .order-content {
  padding: 0 45px;
}
